@model GroupThink.CRM.Model.Sys.CRM_User_Model
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<table width="100%" style="border: none">
    <thead>
        <tr>
            <td colspan="4" align="center">
                <div class="btn sub_btn" style="padding: 0; font-weight: normal">
                    @Html.BsButtonT("button", "btnClose", "关闭", "btn btn-primary")
                </div>
            </td>
        </tr>
    </thead>
</table>
 <div region="center" border="false" style="overflow:auto;padding:5px;">
		<table class="add_wrap" width="100%">
        <tbody>
		<tr>
		   <td class="title" style="width:20%">
			用户名：
		   </td>
		   <td colspan="3">
				@Html.DisplayFor(model => model.ID)
		   </td>
		</tr>
		<tr>
		   <td class="title" style="width:20%">
			姓名：
		   </td>
		   <td>
				@Html.DisplayFor(model => model.UserName)
		   </td>
           <td class="title" style="width:20%">
			用户类型：
		   </td>
		   <td>
				@Html.DisplayFor(model => model.UserTypeName)
		   </td>
		</tr>       
        <tr>
		   <td class="title" style="width:20%">
			电话：
		   </td>
		   <td>
				@Html.DisplayFor(model => model.Tel)
		   </td>
           <td class="title" style="width:20%">
			性别：
		   </td>
		   <td>
           @{
               var SexName = "";
               if (@Model.Sex != null)
                {
                    if ((int)Model.Sex == 0)
                    {
                        SexName = "男";
                    }
                    else if ((int)Model.Sex == 1)
                    {
                        SexName = "女";
                    }
                }
             }
             @SexName
		   </td>
		</tr>	
         <tr>
		   <td class="title" style="width:20%">
			部门：
		   </td>
		   <td>
				@Html.DisplayFor(model => model.DeptName)
		   </td>
           <td class="title" style="width:20%">
			角色ID：
		   </td>
		   <td>
				@Html.DisplayFor(model => model.roleName)
		   </td>
		</tr>			      
 </tbody>
 </table>
 </div>
 <script type="text/javascript">
     $(function () {
         $("#btnClose").click(function () {
             window.parent.frameReturnByClose()
         });
     });
</script>