<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/filejs")
    @Scripts.Render("~/bundles/outlook")
    @Scripts.Render("~/bundles/easyuijs", "~/bundles/easyui/jqplus", "~/bundles/easychina")
    @Styles.Render("~/Content/easyuicss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/formcss/css")
    @Styles.Render("~/Content/filecss")
</head>
<body>
     @RenderBody()
</body>
</html>
