@model GroupThink.CRM.Model.Sys.CRM_Module_Model
@using GroupThink.CRM.Common;
@using GroupThink.CRM.Model.Sys;
@using CRM_EasyUI_2016;
@{
    ViewBag.Title = "修改";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    //List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    //if (perm == null)
    //{
    //    perm = new List<PermModel>();
    //}
}
<script type="text/javascript">
    $(function () {
        $("#btnClose").click(function () {
            window.parent.frameReturnByClose()
        });
        $("#btnSave").click(function () {
            if ($("form").valid()) {
                $.ajax({
                    url: '@Url.Action("Edit")',
                    type: "Post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#ParentId').combotree({
            url: "/CRM_Module/InitTree"
        })
        $('#ParentId').combotree('setValue', '@Model.ParentID');
    })
</script>

<table width="100%" style="border:none">
    <thead>
        <tr>
            <td align="center">
                <div class="btn sub_btn" style="padding:0; font-weight:normal">
                   @Html.BsButtonT("button", "btnSave", "保存", "btn btn-primary")
                   @Html.BsButtonT("button", "btnClose", "关闭", "btn btn-primary")
                </div>
            </td>
        </tr>
    </thead>
</table>
<div class="easyui-layout" fit="true">
    <div region="center" border="false" style="overflow: auto; padding: 5px;">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.CreateTime)
            @Html.HiddenFor(model => model.CreateUserID)
            @Html.ValidationSummary(true)
            <table class="add_wrap" width="100%">
                <tbody>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.ID)：
                        </td>
                        <td class="ipt" style="width: 75%">
                            @Html.ValueFor(model => model.ID)
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.ID)
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.Name)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Name)
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.ParentID)：
                        </td>
                        <td>
                            <input id="ParentId" name="ParentId" class="easyui-combotree" style="width: 250px;" />
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.ParentID)
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.Url)：
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Url)
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.Url)
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.Sort)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Sort)
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.Sort)
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.Enable)：
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.Enable)
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.Enable)
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            @Html.LabelFor(model => model.IsLast)：
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.IsLast)
                            <span>&nbsp;&nbsp;</span>@Html.ValidationMessageFor(model => model.IsLast)
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
